GMAIL_USER=yyy@gmail.com
GMAIL_APP_PASS=aaaa bbbb cccc dddd
CONTACT_EMAIL=xxx@gmail.com
# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=twoja_nazwa_chmury
CLOUDINARY_API_KEY=twoj_api_key
CLOUDINARY_API_SECRET=twoj_api_secret
