@use "sass:color";
//
// _footer.scss
//
@use 'variables';

.footer {
    position: relative;
    color: white;
    background: variables.$primary !important;

    .footer-py-60 {
        padding: 60px 0;
    }

    .footer-py-30 {
        padding: 30px 0;
    }

    .footer-head {
        letter-spacing: 1px;
        font-weight: 500;
        color: $light;
    }

    .text-foot {
        color: white;
    }

    .footer-subscribe,
    .foot-subscribe {
        .form-control {
            background-color: color.adjust($black, $lightness: 10%);
            border: 1px solid color.adjust($black, $lightness: 10%);
            color: white;
        }

        input {
            padding: 9px 20px;
            padding-right: 48px !important;

            &::placeholder {
                color: $gray-500;
            }
        }

        button {
            top: 4px;
            right: 5px;

            &.btn {
                height: 44px;
                width: 44px;
            }
        }

        &.foot-white {
            .form-control {
                color: $gray-500;
            }
        }
    }

    .footer-list {
        margin-bottom: 0;

        li {
            margin-bottom: 10px;

            a {
                transition: all 0.5s ease;

                &:hover {
                    color: color.adjust($gray-500, $lightness: 20%);
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .footer-border,
    .footer-bar {
        border-top: 1px solid color.adjust($footer, $lightness: 3%);
    }

    .footer-border-bottom {
        border-bottom: 1px solid color.adjust($footer, $lightness: 3%);
    }

    .border {
        border-color: color.adjust($footer, $lightness: 3%) !important;
    }

    &.footer-light {
        background-color: $white;

        .footer-head {
            color: $dark;
        }

        .text-foot {
            color: $muted;
        }

        .footer-subscribe,
        .foot-subscribe {
            .form-control {
                background-color: $light;
                border: 1px solid $gray-200;
                color: $light;
            }

            &.foot-white {
                .form-control {
                    color: $gray-500;
                }
            }

            input {
                &::placeholder {
                    color: $gray-500;
                }
            }
        }

        .footer-list {
            li {
                a {
                    &:hover {
                        color: color.adjust($gray-500, $lightness: -20%);
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .footer-border,
        .footer-bar {
            border-top: 1px solid $gray-200;
        }

        .footer-border-bottom {
            border-bottom: 1px solid $gray-200;
        }

        .border {
            border-color: $gray-200 !important;
        }

        .social-icon {
            &.foot-social-icon {
                li {
                    a {
                        color: white;
                        border-color: white;
                    }
                }
            }
        }
    }
}

.bg-footer {
    ::selection {
        background: var(--color-accent);
        color: white;
    }
}